html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

.darkTheme {
  background-color: black;
  color: white;
}

.lightTheme {
  background-color: white;
  color: dark;
}

section > div {
  scroll-snap-align: start;
}

.scrolldown {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrolldown span {
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  margin: -10px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: animate 2s infinite;
}

.scrolldown span:nth-child(1) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: transparent;
  background-clip: text;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

.gradient2 {
  background: linear-gradient(-45deg, #f46b45, #eea849, #00c9ff, #92fe9d);
  color: transparent;
  background-clip: text;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

.typing::before {
  content: '김병철';
  overflow: hidden;
  border-right: none;
  animation: typing 1.8s;
}

@keyframes typing {
  0% {
    content: 'ㄱ';
    border-right: 1px solid black;
  }
  10% {
    content: '기';
    border-right: 1px solid black;
  }
  20% {
    content: '김';
    border-right: 1px solid black;
  }
  30% {
    content: '김ㅂ';
    border-right: 1px solid black;
  }
  40% {
    content: '김벼';
    border-right: 1px solid black;
  }
  50% {
    content: '김병';
    border-right: 1px solid black;
  }
  60% {
    content: '김병ㅊ';
    border-right: 1px solid black;
  }
  70% {
    content: '김병처';
    border-right: 1px solid black;
  }
  80% {
    content: '김병철';
  }
  100% {
    content: '김병철';
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tape {
  transform: rotate(-45deg);
}
